In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
print(" instalasi berhasil")

 instalasi berhasil

In [5]:
# Buat datase baru dan simpan ke SQLite

# Koneksi ke SQLite
engine = create_engine("sqlite:///maintenance.db")
# Load/Read data
df = pd.read_csv("machine_failure.csv")
# Simpan dataset ke tabel SQLite
df.to_sql("maintenance", engine, if_exists="replace", index=False) # Kesalahan sintaks(kurang variabel "conn")
print("Dataset sudah tersimpan di SQLite (maintenance.db)")

Dataset sudah tersimpan di SQLite (maintenance.db)

In [17]:
# 1. Load dataset dari CSV
df = pd.read_csv(r"machine_failure.csv")  # ganti path sesuai lokasi file

# 2. Koneksi ke SQLite
conn = sqlite3.connect("maintenance.db")

# 3. Simpan ke tabel machine_failure
df.to_sql("machine_failure", conn, if_exists="replace", index=False)

# 4. Cek tabel
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Daftar tabel:", tables)

# 5. Cek 5 baris pertama
df_check = pd.read_sql("SELECT * FROM machine_failure LIMIT 5;", conn)
df_check

conn.close()

Daftar tabel:               name
0      maintenance
1  machine_failure

In [20]:
# Verifikasi dataset
conn = sqlite3.connect("maintenance.db")
# Tampilkan beberapa daftar tabel yang ada
table = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Daftar Tabel:", table)

df_fiverows = pd.read_sql("SELECT * FROM machine_failure LIMIT 5;", conn)
print("5 Baris Datase:", df_fiverows)

# Tutup koneksi
conn.close()

Daftar Tabel:               name
0      maintenance
1  machine_failure
5 Baris Datase:    UDI Product ID Type  Air temperature [K]  Process temperature [K]  \
0    1     M14860    M                298.1                    308.6
1    2     L47181    L                298.2                    308.7
2    3     L47182    L                298.1                    308.5
3    4     L47183    L                298.2                    308.6
4    5     L47184    L                298.2                    308.7

   Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  Machine failure  TWF  \
0                    1551         42.8                0                0    0
1                    1408         46.3                3                0    0
2                    1498         49.4                5                0    0
3                    1433         39.5                7                0    0
4                    1408         40.0                9                0    0

   HDF  PWF  OSF  RNF
0    0    0    0    0
1    0    0    0    0
2    0    0    0    0
3    0    0    0    0
4    0    0    0    0

In [28]:
# Hapus tabel maintenance
conn = sqlite3.connect("maintenance.db")
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS maintenance;")
conn.commit()

tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Daftar tabel setelah di hapus:", tables)

Daftar tabel setelah di hapus:               name
0  machine_failure

In [30]:
# Cek/verifikasi akhir sebelum dihapus dari local device
conn = sqlite3.connect("maintenance.db")

hitung = pd.read_sql("SELECT COUNT (*) as total FROM machine_failure;", conn)
print(hitung)

   total
0  10000

In [31]:
conn = sqlite3.connect("maintenance.db")

df = pd.read_sql("SELECT * FROM machine_failure;", conn)
conn.close()
print("Proses penarikan data ke Pandas Berhasil")

Proses penarikan data ke Pandas Berhasil

Cek Informasi dataset
- Baris -> 10000
- Kolom -> 14
- Missing Value
- Duplikat

In [42]:
df.head(5)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [43]:
df.shape

(10000, 14)

In [44]:
df. describe() # Ringkasan Statistik data

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Machine failure          10000 non-null  int64
 9   TWF                      10000 non-null  int64
 10  HDF                      10000 non-null  int64
 11  PWF                      10000 non-null  int64
 12  OSF                      10000 non-null  int64
 13  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

In [47]:
df.isnull().sum()  # Cek missing value

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64